$break-small: 380px;
$break-large: 840px;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signInCard {
  padding: 30px;
  margin-top: 10vh;

  @media screen and (max-width: $break-small) {
    //width: 80%;
    margin: 10px;
    //margin: 10px;
    //padding: 10px;
  }

  @media (min-width: $break-small) and (max-width: $break-large) {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;

    //width: 100%;
    //margin: 10px;
    //padding: 10px;
  }

  @media screen and (min-width: $break-large) {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    //padding-right: 10px;
    //padding-top: 10px;
    //padding-bottom: 10px;
  }
}

.moodTracker {
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;


  @media screen and (max-width: $break-small) {
    //width: 100%;
    margin: 10px;
    padding: 10px;
  }

  @media (min-width: $break-small) and (max-width: $break-large) {
    //width: 100%;
    margin: 10px;
    padding: 10px;
  }

  @media screen and (min-width: $break-large) {
    max-width: 30%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
